<div class="row g-0">
  <div class="col-lg-3">
    <%= image_tag "avatar.svg", alt: "blank avatar", height: "260" %>
    <h2><%= current_user.nickname %></h2>
    <p>Joined <%= current_user.created_at.strftime("%B, %Y") %></p>
    <div>
      <div class="mb-3">
        <a href="">9 Followers</a>
          ·
        <a href="">57 Following</a>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="row row-cols-3">
      <div class="col">
      <div class="card">
        <div class="card-body">
          <h3><%= link_to "Collected", collection_user_path(@user) %></h3>
          <p><%= @comics.count %></p>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3>Read</h3>
            <p>69</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3>Wish List</h3>
            <p>420</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
