<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <%= link_to "Details", series_comicbook_path(@series.id, @comic.id), class: ["nav-link", ("active" if current_page?(series_comicbook_path(@series.id, @comic.id)))] %>
  </li>
  <li class="nav-item">

  </li>
</ul>

<div class="row">
  <div class="col-lg-8">
    <h2><%= "#{@comic.series.name} ##{@comic.issue_number}" %></h2>

    <% if @user_comics.include?(@comic.id) %>
      <%= form_with url: user_comicbook_path(@user, @comic), method: :delete, local: true do %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :comic_id, @comic.id %>
        <%= button_tag type: "submit", class: "btn btn-light btn-sm" do %>
          <%= image_tag 'icons/circle-plus-fill.svg', height: "20" %> Collected
        <% end %>
      <% end %>
    <% else %>
      <%= form_with url: user_comicbooks_path, method: :post, local: true do %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :comic_id, @comic.id %>
        <%= button_tag type: "submit", class: "btn btn-light btn-sm" do %>
          <%= image_tag 'icons/circle-plus-nofill.svg', height: "20" %> Collect
        <% end %>
      <% end %>
    <% end %>

    <hr />

    <p><%= @comic.synopsis %></p>

    <h3>Cover Price</h3>
    <% if @comic.cover_price %>
      <p>$<%= @comic.cover_price %></p>
    <% else %>
      <p>Unknown</p>
    <% end %>

    <h3>Cover Date</h3>
    <% if @comic.cover_date %>
      <p><%= @comic.cover_date.strftime("%B %Y") %></p>
    <% else %>
      <p>Unknown</p>
    <% end %>
  </div>

  <div class="col-lg-4">
    <%= image_tag 'no_photo_available.svg', alt: 'Image of generic comic book cover', width: '100%', height: '100%' %>
  </div>
</div>
