<h2><%= "#{@comic.title} ##{@comic.issue_number}" %></h2>

<% if @user_comics.include?(@comic.id) %>
  <button class="btn btn-primary" disabled>Collected</button>
<% else %>
  <%= form_with url: user_comics_path, method: :post, local: true do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :comic_id, @comic.id %>
    <%= submit_tag "Collect", class: "btn btn-primary" %>
  <% end %>
<% end %>
