<h2>Comics by Series</h2>

<p>
  Here you can browse all the comicbooks in the database by series. In the future, you will be able to search and filter
  on various comicbook attributes.  Stay tuned!
</p>

<% if @user.admin? %>
  <div class="d-flex">
    <%= link_to "Add +", new_series_path, class: "btn btn-success", role: "button" %>
  </div>
<% end %>

<hr />

<div class="row">
  <% if @all_series.any? %>
    <% @all_series.each do |series| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
        <%= link_to series_path(series), class: 'text-decoration-none' do %>
          <div class="card">
            <div style="height: 240px; overflow: hidden; display: flex; justify-content: center; align-items: start;">
              <% if series.series_image.attached? %>
                <%= image_tag series.series_image, class: "card-img-top", style: "max-width: 100%; width: auto; height: auto;" %>
              <% else %>
                <%= image_tag 'no_photo_available.svg', class: "card-img-top" %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-truncate"><%= "#{series.name}" %></h5>
              <h6><%= "#{series.start_date.strftime("%Y")}" %></h6>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>There are no comicbook series to show :(</p>
  <% end %>
</div>
