<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

      <!-- LOGO / DASHBOARD LINK -->
      <a class="navbar-brand" href="/">
        <%= image_tag "logo.svg", alt: "Comicdex logo", style: "filter: brightness(0) invert(1);", height: "50" %>
      </a>

      <!-- DYNAMIC LINK -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <% if current_page?(root_path) %>
            <%= link_to "Dashboard", root_path, class: "nav-link" %>
          <% elsif current_page?(comicbooks_path) %>
            <%= link_to "Explore", comicbooks_path, class: "nav-link" %>
          <% elsif current_page?(edit_users_profile_path) || current_page?(edit_user_registration_path) %>
            <%= link_to 'Settings', edit_users_profile_path, class: "nav-link" %>
          <% else %>
            <%= link_to "#{current_user.nickname}", users_profile_path(current_user), class: "nav-link" %>
          <% end %>
        </li>
      </ul>

      <!-- MAIN OPTIONS -->
      <ul class="navbar-nav ms-auto align-items-center d-flex flex-row">
        <li class="nav-item btn-group">
          <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUserOptions" aria-controls="offcanvasUserOptions">
            <%= image_tag "avatar.svg", alt: "blank avatar", height: "40" %>
          </button>
        </li>
      </ul>

      <!-- OFFCANVAS COMPONENT -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUserOptions" aria-labelledby="offcanvasUserOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasUserOptionsLabel"><%= current_user.nickname %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to "Your Profile", users_profile_path, class: "dropdown-item" %>
            </li>
            <li class="list-group-item">
              <%= link_to "Settings", edit_users_profile_path, class: "dropdown-item" %>
            </li>
            <li class="list-group-item">
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>
